header.header
  .header__wrapper.scrolling-navbar
    .header__white
      .container.container__customized
        .row.header__position
          .header__col-2
            a(href='/' title='Логотип Амелия' role='banner')
              +logo
          .header__col-auto.header__vertical-align
            ul
              li
                div
                  +baloon
                div
                  | г. Кемерово, жилой район Пионер Р-255&nbsp;
                  br
                  | 245 км, д. 3,  бывш. мотель «Транзит»
              li
                div
                  +phone-green-bg
                  a(href='tel:88002000729' title='Позвонить' role='link') 8 (800) 200-07-29&nbsp;
                div
                  +phone-green-bg
                  a(href='tel:89095193388' title='Позвонить' role='link') 8 (909) 519-33-88
              li
                div
                  +clock
                div
                  | Ответим на Ваши вопросы&nbsp;
                  br
                  span Пн-Вс 09:00-21:00
          .header__col-3
            a.button.button__middle.button__middle_border(href='#popup:marquiz_5dd4f6e703821c00443cd1ee' title='' target='_blank' role='button')
              span Бесплатная&nbsp;
              span консультация
              span Консультация
              +arrow-green-right
          .header__hamburger
            button.hamburger.hamburger--spring(type='button' title='Меню' role='button')
              span.hamburger-box
                span.hamburger-inner
    .header__green
      .container.container__customized
        nav(role='navigation')
          .header__green_logo
            a#navHome(href='#home' title='Вернуться в начало')
              +logo-footer
          ul#navMenu
            li
              a(href=oneItemMenu title='' role='link') О нас
            li
              a(href=twoItemMenu title='' role='link') Услуги
            li
              a(href=threeItemMenu title='' role='link') Почему мы
            li
              a(href=fourItemMenu title='' role='link') Номера и стоимость
            li
              a(href=fiveItemMenu title='' role='link') Оформление
            li
              a(href=sixItemMenu title='' role='link') Фотогалерея
            li
              a(href=sevenItemMenu title='' role='link') Распорядок дня
            li
              a(href=eightItemMenu title='' role='link') Контакты
            li
              a(title='' role='button' data-toggle='modal' data-target='#modalStocks') Акции

          .header__green_button
            a.button.button__middle.button__middle_border(href='#popup:marquiz_5e943f130dc3f90044dd0a32' title='' target='_blank' role='button')
              span Бесплатная консультация
              +arrow-green-right
          .header__vertical-align
            ul
              li
                div
                  +phone-green-bg
                  a(href='tel:88002000729' title='Позвонить' role='link') 8 (800) 200-07-29
                div
                  +phone-green-bg
                  a(href='tel:89095193388' title='Позвонить' role='link') 8 (909) 519-33-88
              li
                div
                  +baloon
                div
                  | г. Кемерово, жилой район Пионер Р-255&nbsp;
                  br
                  | 245 км, д. 3,  бывш. мотель «Транзит»
              li
                div
                  +clock
                div
                  | Ответим на Ваши вопросы&nbsp;
                  br
                  span Пн-Вс 09:00-21:00
      .bg__menu(title="Закрыть меню")



